<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Chat App</title>
    </head>
    <body background="https://i.pinimg.com/474x/f4/94/27/f49427eb3bbae129b7d8cc25b88fc946.jpg">
        <h1>Chatting App</h1>
        <form action="/chat">
            <div>
                <label>Enter your username:</label>
                <input type="text" name="username">
            </div>
            <div>
                <label>Enter RoomID:</label>
                <input type="text" name="roomNo">
            </div>
            <button type="submit">Submit</button>
        </form>
    </body>
    
</html>